<!DOCTYPE html>
<html lang="pt-br"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/img/iconPreto.png}">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


    <title>Fliperama Estúdio</title>
</head>
<body>
<div th:insert="navbar :: header-estoque"></div>

<br>

<div class="row col-12 ">
    <table id="tabela" class="table table-dark col-5 offset-1 ">
        <thead>
        <tr>
            <td scope="col"><b>Produto</b></td>
            <td scope="col"><b>Preço</b></td>
            <td scope="col"><b>Quantidade</b></td>
            <td scope="col"><b>Entrada</b></td>
            <td scope="col"><b>Numero vendido</b></td>
            <td scope="col"><a class="btn btn-primary" href="controleEstoque/cadastroProduto">Novo Produto</a></td>
        </tr>
        </thead>
        <tbody>
        <th:block th:if="${estoque}">
            <tr th:each="item: ${estoque}">
                <td th:text="${item.getNome()}"></td>
                <td th:text="${item.getPreco()}"></td>
                <td th:text="${item.getQtd()}"></td>
                <form th:method="put" th:action="@{/controleEstoque/atualizaEstoque}" >
                    <td>

                        <div class="form-group " >
                            <input type="number" id="entrada" name="entrada" class="form-control col-xs-4">
                            <input type="text"  name="id" hidden th:value="${item.getIdProduto()}">
                        </div>

                    </td>


                    <td>

                        <div class="form-group " >
                            <input type="number" id="venda" name="venda" th:max="${item.getQtd()}" class="form-control col-xs-4">

                        </div>

                    </td>

                    <td>
                        <div>

                            <button type="submit" class="btn btn-primary">Registrar</button>
                        </div>
                    </td>
                </form>


                <form th:method="delete" th:action="@{/controleEstoque/excluirItem}">
                    <td>
                        <input type="text" id="id" name="id" hidden th:value="${item.getIdProduto()}" >
                        <button type="submit" class="btn btn-danger">Excluir</button>

                    </td>

                </form>
                <!--<td>
                    <a class="btn btn-danger" th:href="@{/controleEstoque/remover(id=${item.getIdProduto()})}"
                       th:text="'-'"></a>
                    <a class="btn btn-success" th:href="@{/controleEstoque/adiconar(id=${item.getIdProduto()})}"
                       th:text="'+'"></a>
                </td>



-->


            </tr>
        </th:block>


        </tbody>
    </table>
</div>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>