<!DOCTYPE html>
<html lang="pt-br"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/img/iconPreto.png}">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script type="text/javascript" th:src="@{/js/calendario.js}"></script>
    <title>Fliperama Estúdio</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark " th:fragment="header-agendamento">
    <a class="navbar-brand" href="/"><img th:src="@{/img/iconBranco.png}" alt=""> Fliperama Estúdio</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav">


            <li class="nav-item  ">
                <a class="nav-link" href="/">Página Inicial</a>
            </li>


            <li class="nav-item active btn-primary">
                <a class="nav-link" href="/agendamento">Agendamento<span class="sr-only">(Página atual)</span></a>
            </li>


            <th:block th:if="${#session} and ${#session.getValue('usuario')}">

                <th:block th:if="${#session.getValue('usuario').getTipo().ordinal() == 0}">
                    <li class="nav-item ">
                        <a class="nav-link" href="/relatorio">Relatorio</a>
                    </li>

                </th:block>


                <th:block th:if="${#session.getValue('usuario').getTipo().ordinal() < 2}">
                    <li class="nav-item  ">
                        <a class="nav-link" href="/controleEstoque">Estoque</a>
                    </li>

                </th:block>
            </th:block>


            <div th:if="${#session} and ${#session.getValue('usuario')}">

                <li class="nav-item  dropdown ">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                       th:text="'Bem vindo(a) ' + ${#session.getAttribute('usuario').getNome()}"></a>

                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">

                        <th:block th:if="${#session.getValue('usuario').getTipo().ordinal() == 2}">
                            <a class="dropdown-item" href="/cliente/editarCliente" th:text="Cadastro"></a>
                        </th:block>

                        <th:block th:if="${#session.getValue('usuario').getTipo().ordinal() == 0}">
                            <a class="dropdown-item" href="/funcionario/listaFuncionarios" th:text="Funcionarios"></a>
                        </th:block>

                        <a class="dropdown-item" href="/logout" th:text="Logout"></a>


                    </div>


                </li>

            </div>
            <div th:unless="${#session} and ${#session.getValue('usuario')}">

                <li class="nav-item">

                    <a class="nav-link" href="/login">Login</a>

                </li>
            </div>
        </ul>
    </div>
</nav>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark " th:fragment="header-index">
    <a class="navbar-brand" href="/"><img th:src="@{/img/iconBranco.png}" alt=""> Fliperama Estúdio</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav">


            <li class="nav-item active btn-primary">
                <a class="nav-link" href="/">Página Inicial</a>
            </li>






            <li class="nav-item ">
                <a class="nav-link" href="/agendamento">Agendamento<span class="sr-only">(Página atual)</span></a>
            </li>


            <th:block th:if="${#session} and ${#session.getValue('usuario')}">

                <th:block th:if="${#session.getValue('usuario').getTipo().ordinal() == 0}">
                    <li class="nav-item">
                        <a class="nav-link" href="/relatorio">Relatorio</a>
                    </li>

                </th:block>


                <th:block th:if="${#session.getValue('usuario').getTipo().ordinal() < 2}">
                    <li class="nav-item  ">
                        <a class="nav-link" href="/controleEstoque">Estoque</a>
                    </li>

                </th:block>
            </th:block>


            <div th:if="${#session} and ${#session.getValue('usuario')}">

                <li class="nav-item  dropdown ">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                       th:text="'Bem vindo(a) ' + ${#session.getAttribute('usuario').getNome()}"></a>

                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">

                        <th:block th:if="${#session.getValue('usuario').getTipo().ordinal() == 2}">
                            <a class="dropdown-item" href="/cliente/editarCliente" th:text="Cadastro"></a>
                        </th:block>

                        <th:block th:if="${#session.getValue('usuario').getTipo().ordinal() == 0}">
                            <a class="dropdown-item" href="/funcionario/listaFuncionarios" th:text="Funcionarios"></a>
                        </th:block>

                        <a class="dropdown-item" href="/logout" th:text="Logout"></a>


                    </div>


                </li>

            </div>
            <div th:unless="${#session} and ${#session.getValue('usuario')}">

                <li class="nav-item">

                    <a class="nav-link" href="/login">Login</a>

                </li>
            </div>
        </ul>
    </div>
</nav>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark " th:fragment="header-login">
    <a class="navbar-brand" href="/"><img th:src="@{/img/iconBranco.png}" alt=""> Fliperama Estúdio</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav">


            <li class="nav-item ">
                <a class="nav-link" href="/">Página Inicial</a>
            </li>






            <li class="nav-item ">
                <a class="nav-link" href="/agendamento">Agendamento<span class="sr-only">(Página atual)</span></a>
            </li>


            <th:block th:if="${#session} and ${#session.getValue('usuario')}">

                <th:block th:if="${#session.getValue('usuario').getTipo().ordinal() == 0 }">
                    <li class="nav-item">
                        <a class="nav-link" href="/relatorio">Relatorio</a>
                    </li>

                </th:block>


                <th:block th:if="${#session.getValue('usuario').getTipo().ordinal() < 2}">
                    <li class="nav-item  ">
                        <a class="nav-link" href="/controleEstoque">Estoque</a>
                    </li>

                </th:block>
            </th:block>


            <div th:if="${#session} and ${#session.getValue('usuario')}">

                <li class="nav-item  dropdown ">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                       th:text="'Bem vindo(a) ' + ${#session.getAttribute('usuario').getNome()}"></a>

                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">

                        <th:block th:if="${#session.getValue('usuario').getTipo().ordinal() == 2}">
                            <a class="dropdown-item" href="/cliente/editarCliente" th:text="Cadastro"></a>
                        </th:block>

                        <th:block th:if="${#session.getValue('usuario').getTipo().ordinal() == 0}">
                            <a class="dropdown-item" href="/funcionario/listaFuncionarios" th:text="Funcionarios"></a>
                        </th:block>

                        <a class="dropdown-item" href="/logout" th:text="Logout"></a>


                    </div>


                </li>

            </div>
            <div th:unless="${#session} and ${#session.getValue('usuario')}">

                <li class="nav-item active btn-primary">

                    <a class="nav-link" href="/login">Login</a>

                </li>
            </div>
        </ul>
    </div>
</nav>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark " th:fragment="header-estoque">
    <a class="navbar-brand" href="/"><img th:src="@{/img/iconBranco.png}" alt=""> Fliperama Estúdio</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav">


            <li class="nav-item ">
                <a class="nav-link" href="/">Página Inicial</a>
            </li>




            <li class="nav-item ">
                <a class="nav-link" href="/agendamento">Agendamento<span class="sr-only">(Página atual)</span></a>
            </li>


            <th:block th:if="${#session} and ${#session.getValue('usuario')}">

                <th:block th:if="${#session.getValue('usuario').getTipo().ordinal() == 0}">
                    <li class="nav-item ">
                        <a class="nav-link" href="/relatorio">Relatorio</a>
                    </li>

                </th:block>


                <th:block th:if="${#session.getValue('usuario').getTipo().ordinal() < 2}">
                    <li class="nav-item  active btn-primary">
                        <a class="nav-link" href="/controleEstoque">Estoque</a>
                    </li>

                </th:block>
            </th:block>


            <div th:if="${#session} and ${#session.getValue('usuario')}">

                <li class="nav-item  dropdown ">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                       th:text="'Bem vindo(a) ' + ${#session.getAttribute('usuario').getNome()}"></a>

                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">

                        <th:block th:if="${#session.getValue('usuario').getTipo().ordinal() == 2}">
                            <a class="dropdown-item" href="/cliente/editarCliente" th:text="Cadastro"></a>
                        </th:block>

                        <th:block th:if="${#session.getValue('usuario').getTipo().ordinal() == 0}">
                            <a class="dropdown-item" href="/funcionario/listaFuncionarios" th:text="Funcionarios"></a>
                        </th:block>

                        <a class="dropdown-item" href="/logout" th:text="Logout"></a>


                    </div>


                </li>

            </div>
            <div th:unless="${#session} and ${#session.getValue('usuario')}">

                <li class="nav-item ">

                    <a class="nav-link" href="/login">Login</a>

                </li>
            </div>
        </ul>
    </div>
</nav>



<nav class="navbar navbar-expand-lg navbar-dark bg-dark " th:fragment="header-standart">
    <a class="navbar-brand" href="/"><img th:src="@{/img/iconBranco.png}" alt=""> Fliperama Estúdio</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav">


            <li class="nav-item ">
                <a class="nav-link" href="/">Página Inicial</a>
            </li>




            <li class="nav-item ">
                <a class="nav-link" href="/agendamento">Agendamento<span class="sr-only">(Página atual)</span></a>
            </li>


            <th:block th:if="${#session} and ${#session.getValue('usuario')}">


                <th:block th:if="${#session.getValue('usuario').getTipo().ordinal() == 0}">
                    <li class="nav-item">
                        <a class="nav-link" href="/relatorio">Relatorio</a>
                    </li>

                </th:block>


                <th:block th:if="${#session.getValue('usuario').getTipo().ordinal() < 2}">
                    <li class="nav-item ">
                        <a class="nav-link" href="/controleEstoque">Estoque</a>
                    </li>

                </th:block>
            </th:block>


            <div th:if="${#session} and ${#session.getValue('usuario')}">

                <li class="nav-item  dropdown ">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                       th:text="'Bem vindo(a) ' + ${#session.getAttribute('usuario').getNome()}"></a>

                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">

                        <th:block th:if="${#session.getValue('usuario').getTipo().ordinal() == 2}">
                            <a class="dropdown-item" href="/cliente/editarCliente" th:text="Cadastro"></a>
                        </th:block>

                        <th:block th:if="${#session.getValue('usuario').getTipo().ordinal() == 0}">
                            <a class="dropdown-item" href="/funcionario/listaFuncionarios" th:text="Funcionarios"></a>
                        </th:block>

                        <a class="dropdown-item" href="/logout" th:text="Logout"></a>


                    </div>


                </li>

            </div>
            <div th:unless="${#session} and ${#session.getValue('usuario')}">

                <li class="nav-item ">

                    <a class="nav-link" href="/login">Login</a>

                </li>
            </div>
        </ul>
    </div>
</nav>


<nav class="navbar navbar-expand-lg navbar-dark bg-dark " th:fragment="header-relatorio">
    <a class="navbar-brand" href="/"><img th:src="@{/img/iconBranco.png}" alt=""> Fliperama Estúdio</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav">


            <li class="nav-item ">
                <a class="nav-link" href="/">Página Inicial</a>
            </li>




            <li class="nav-item ">
                <a class="nav-link" href="agendamento">Agendamento<span class="sr-only">(Página atual)</span></a>
            </li>


            <th:block th:if="${#session} and ${#session.getValue('usuario')}">
                <th:block th:if="${#session.getValue('usuario').getTipo().ordinal() == 0}">
                    <li class="nav-item active btn-primary">
                        <a class="nav-link" href="/relatorio">Relatorio</a>
                    </li>

                </th:block>



                <th:block th:if="${#session.getValue('usuario').getTipo().ordinal() < 2}">
                    <li class="nav-item ">
                        <a class="nav-link" href="/controleEstoque">Estoque</a>
                    </li>

                </th:block>
            </th:block>


            <div th:if="${#session} and ${#session.getValue('usuario')}">

                <li class="nav-item  dropdown ">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                       th:text="'Bem vindo(a) ' + ${#session.getAttribute('usuario').getNome()}"></a>

                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">

                        <th:block th:if="${#session.getValue('usuario').getTipo().ordinal() == 2}">
                            <a class="dropdown-item" href="/cliente/editarCliente" th:text="Cadastro"></a>
                        </th:block>

                        <th:block th:if="${#session.getValue('usuario').getTipo().ordinal() == 0}">
                            <a class="dropdown-item" href="/funcionario/listaFuncionarios" th:text="Funcionarios"></a>
                        </th:block>

                        <a class="dropdown-item" href="/logout" th:text="Logout"></a>


                    </div>


                </li>

            </div>
            <div th:unless="${#session} and ${#session.getValue('usuario')}">

                <li class="nav-item ">

                    <a class="nav-link" href="login">Login</a>

                </li>
            </div>
        </ul>
    </div>
</nav>

</body>
</html>